{% set pagetitle = "Keine Berechtigung" %}
{% set noloader = true %}
{% extends 'admin/base.twig' %}
{% block content %}
<div class="uk-card uk-card-small uk-card-default uk-card-body">
  <h1 class="uk-card-title">Keine Berechtigung.</h1>
  <p>Du hast keine Berechtigung, diese Seite zu öffnen. Bitte frage die oder den Administrator:in, falls du glaubst, dass das ein Fehler ist.</p>
  <a class="uk-button uk-button-secondary" href="/admin/speechlist"><span uk-icon="icon: list"></span>&nbsp;Redeliste</a>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
