<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login | Debategory</title>
    <link rel="stylesheet" href="/static/uikit/css/uikit.min.css" />
    <link rel="stylesheet" href="/static/admin/style.css" />
  </head>
  <body class="dg-login-background">
    <div class="uk-cover uk-width-1-4@l uk-width-1-3@m uk-visible@m">
      <div class="dg-bubble uk-card uk-card-default uk-card-body uk-text-justify{% if messages.error %} uk-animation-shake{% endif %}">
        <h3 class="uk-card-title">Hallo.</h3>
        <p class="uk-text-small">Bitte melde dich an, um diese Seite zu nutzen. Wenn du keine Anmeldedaten hast, wende dich bitte an die oder den Administrator:in.</p>
        {% if messages.error %}
          <div class="uk-text-danger">
            <p>Entweder ist der Anmeldename nicht bekannt oder das Passwort falsch.</p>
          </div>
        {% elseif messages.success %}
          <div class="uk-text-success">
            <p>Du wurdest erfolgreich ausgeloggt. Auf Wiedersehen!</p>
          </div>
        {% endif %}
        <form action="./login" method="POST">
          <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input uk-form-blank" name="username" type="text" required autofocus placeholder="Anmeldename">
            </div>
          </div>
          <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
              <span class="uk-form-icon" uk-icon="icon: lock"></span>
              <input class="uk-input uk-form-blank" name="password" type="password" required placeholder="Passwort">
            </div>
          </div>
          <div class="uk-width-1-1">
            <input class="uk-button uk-button-primary uk-float-right" type="submit" value="Anmelden">
          </div>
        </form>
      </div>
    </div>
    <div class="uk-overlay uk-position-bottom-center uk-light">
      <p>
        <a class="uk-link-reset uk-button uk-button-text" href="../">Zurück zur Redeliste</a>
      </p>
    </div>
    <div class="uk-cover dg-bubble uk-card uk-card-default uk-card-body uk-hidden@m uk-width-5-6 uk-text-justify">
      <h3 class="uk-card-title"><b>Debategory</b> ist für größere Bildschirme gebaut.</h3>
      <p>Die Verwaltung der Redelisten braucht jede Menge Platz. Es wäre ziemlich unkomfortabel, das auf einem so kleinen Bildschirm zu versuchen. Wenn du es dennoch ausprobieren willst, wechselte mit deinem Browser zur <b>Desktopansicht</b>. Aber sag nicht, wir hätten dich nicht gewarnt.</p>
    </div>
    <noscript>
      <div class="uk-position-cover uk-overlay uk-overlay-primary">
        <div class="uk-cover dg-bubble uk-card uk-card-default uk-card-body uk-width-1-4@l uk-width-1-3@m uk-width-5-6@s uk-text-justify">
          <h3 class="uk-card-title">JavaScript deaktiviert.</h3>
          <p>Damit diese Seite ordnungsgemäß funktionieren kann, aktiviere bitte JavaScript bzw. deaktiviere die Einschränkungen durch deinen Script-Blocker.</p>
        </div>
      </div>
    </noscript>
    <script src="/static/uikit/js/uikit.min.js"></script>
    <script src="/static/uikit/js/uikit-icons.min.js"></script>
  </body>
</html>
