{% set pagetitle = "Redeliste" %}
{% extends 'admin/base.twig' %}
{% block content %}

  <div class="uk-card uk-card-small uk-card-default uk-card-body">
    <div uk-grid>
      <div class="uk-width-expand uk-text-truncate">
        <span class="uk-h5 uk-text-muted uk-text-uppercase">Titel</span><br />
        <span class="uk-h2" id="speechlistTitle"></span>
      </div>
      <div id="speechtimer">
        <span class="uk-h5 uk-text-muted uk-text-uppercase">Redezeit</span><br />
        <span class="uk-h2">
        <span id="speechtimerTime">00:00</span>
          <div class="uk-button-group">
            <button class="uk-button uk-button-small" disabled uk-tooltip="title: Redezeit starten; delay: 300; pos: bottom" id="speechtimerStart"><span uk-icon="icon: play"></span></button>
            <button class="uk-button uk-button-small" uk-tooltip="title: Redezeit pausieren; delay: 300; pos: bottom" id="speechtimerPause" style="display: none;"><span uk-icon="icon: close"></span></button>
            <button class="uk-button uk-button-small" disabled uk-tooltip="title: Redezeit zurücksetzen; delay: 300; pos: bottom" id="speechtimerReset"><span uk-icon="icon: refresh"></span></button>
          </div>
        </span>
      </div>
      <div uk-grid>
        <div class="uk-width-auto">
          <span class="uk-h5 uk-text-muted uk-text-uppercase uk-width-1-5">Datum</span><br />
          <span class="uk-h2" id="clockDate"></span>
        </div>
        <div class="uk-width-auto">
          <span class="uk-h5 uk-text-muted uk-text-uppercase uk-width-1-5">Uhrzeit</span><br />
          <span class="uk-h2" id="clockTime"></span>
        </div>
      </div>
    </div>
    <progress id="speechtimerBar" class="dg-progress uk-position-bottom" value="0" max="0"></progress>
  </div>

  <div class="uk-margin-top">
    <div class="uk-grid-medium uk-grid-match uk-child-width-expand" uk-grid id="speechlists">

      {% for i in range(1) %}
      <div class="speechlist-container">
        <div class="uk-card uk-card-small uk-card-default">
          <div class="uk-card-body">
            <div class="uk-margin">
              <input type="text" class="uk-input speechlist-input" placeholder="Person hinzufügen...">
            </div>
            <div class="uk-button-group uk-visible@xl">
              <button class="uk-button uk-button-secondary speechlist-next"><span uk-icon="chevron-double-right"></span>&nbsp;Nächste:r</button>
              <button class="uk-button speechlist-close"><span uk-icon="lock"></span>&nbsp;Schließen</button>
              <button class="uk-button uk-button-danger speechlist-reopen" style="display: none;"><span uk-icon="unlock"></span>&nbsp;Öffnen</button>
              <button class="uk-button speechlist-clear"><span uk-icon="trash"></span>&nbsp;Leeren</button>
              <button class="uk-button speechlist-settings"><span uk-icon="settings"></span>&nbsp;Einstellungen</button>
              <button class="uk-button speechlist-show"><span uk-icon="tv"></span>&nbsp;Anzeigen</button>
              <button class="uk-button speechlist-shown" disabled style="display: none;"><span uk-icon="check"></span>&nbsp;Angezeigt</button>
            </div>
            <div class="uk-button-group uk-visible@l uk-hidden@xl">
              <button class="uk-button uk-button-secondary speechlist-next"><span uk-icon="chevron-double-right"></span>&nbsp;Nächste:r</button>
              <button class="uk-button speechlist-close" uk-tooltip="title: Liste schließen; delay: 300; pos: bottom"><span uk-icon="lock"></span></button>
              <button class="uk-button uk-button-danger speechlist-reopen" uk-tooltip="title: Liste wieder öffnen; delay: 300; pos: bottom" style="display: none;"><span uk-icon="unlock"></span></button>
              <button class="uk-button speechlist-clear" uk-tooltip="title: Liste leeren; delay: 300; pos: bottom"><span uk-icon="trash"></span></button>
              <button class="uk-button speechlist-settings" uk-tooltip="title: Listeneinstellungen; delay: 300; pos: bottom"><span uk-icon="settings"></span></button>
              <button class="uk-button speechlist-show" uk-tooltip="title: Liste anzeigen; delay: 300; pos: bottom"><span uk-icon="tv"></span></button>
              <button class="uk-button speechlist-shown" disabled uk-tooltip="title: Liste wird angezeigt; delay: 300; pos: bottom" style="display: none;"><span uk-icon="check"></span></button>
            </div>
            <div class="uk-button-group uk-hidden@l">
              <button class="uk-button uk-button-secondary speechlist-next" uk-tooltip="title: Nächste Person; delay: 300; pos: bottom"><span uk-icon="chevron-double-right"></span></button>
              <button class="uk-button speechlist-close" uk-tooltip="title: Liste schließen; delay: 300; pos: bottom"><span uk-icon="lock"></span></button>
              <button class="uk-button uk-button-danger speechlist-reopen" uk-tooltip="title: Liste wieder öffnen; delay: 300; pos: bottom" style="display: none;"><span uk-icon="unlock"></span></button>
              <button class="uk-button speechlist-clear" uk-tooltip="title: Liste leeren; delay: 300; pos: bottom"><span uk-icon="trash"></span></button>
              <button class="uk-button speechlist-settings" uk-tooltip="title: Listeneinstellungen; delay: 300; pos: bottom"><span uk-icon="settings"></span></button>
              <button class="uk-button speechlist-show" uk-tooltip="title: Liste anzeigen; delay: 300; pos: bottom"><span uk-icon="tv"></span></button>
              <button class="uk-button speechlist-shown" disabled uk-tooltip="title: Liste wird angezeigt; delay: 300; pos: bottom" style="display: none;"><span uk-icon="check"></span></button>
            </div>
          </div>
          <div class="uk-card-footer">
            <p class="speechlist-empty uk-margin-remove-bottom uk-text-center uk-text-italic uk-text-light uk-text-muted">Liste leer.</p>
            <ul class="uk-list uk-margin-remove-top uk-list-striped uk-text-capitalize uk-list-collapse speechlist" style="display: none;" uk-sortable="handle: .uk-drag"></ul>
          </div>
        </div>
      </div>
    {% endfor %}

    </div>
  </div>

  <div id="settings" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-body">
          <h2 class="uk-modal-title">Einstellungen</h2>
          <form class="uk-form-stacked">
            <div class="uk-margin">
              <div class="uk-form-controls">
                <input class="uk-input" id="settingsTitle" type="text" placeholder="Titel">
              </div>
            </div>
            <div class="uk-margin">
              <label><input class="uk-checkbox" type="checkbox" id="settingsSpeechtimeEnable" checked> Redezeit aktivieren</label>
              <div class="uk-form-controls uk-flex uk-flex-center uk-flex-middle" id="settingsSpeechtimeInput">
                <input class="uk-input uk-form-width-xsmall uk-text-right" type="tel" placeholder="00" max="99" min="0" maxlength="2">
                <p>&nbsp;:&nbsp;</p>
                <input class="uk-input uk-form-width-xsmall" type="tel" placeholder="00" maxlength="2">
              </div>
            </div>
            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
              <label><input class="uk-checkbox" type="checkbox" checked> Automatisch anzeigen</label>
            </div>
          </form>
          <div class="uk-float-right">
            <button class="uk-button uk-modal-close" type="button"><span uk-icon="close"></span> Abbrechen</button>
            <button class="uk-button uk-button-secondary" type="button"><span uk-icon="check"></span> Speichern</button>
          </div>
        </div>
    </div>
  </div>

{% endblock %}
{% block scripts %}
<script src="/static/admin/speechlist.js"></script>
{% endblock %}
