html, body {
  background-color: #121212;
}

.uk-card {
  box-shadow: 0 5px 10px #000000;
}

.uk-button:not(.uk-button-danger) {
  background-color: #444444;
}

.uk-button:disabled {
  background-color: #272727;
  color: #555555;
}

.uk-card-secondary>:not([class*=uk-card-media]) .uk-button-secondary, .uk-button-secondary {
  background-color: #757575;
  color: #ffffff;
}

.uk-card-secondary>:not([class*=uk-card-media]) .uk-button-secondary:disabled, .uk-button-secondary:disabled {
  background-color: #202020;
  border: 1px solid #444444;
  color: #757575;
}

.dg-progress::-webkit-progress-value {
  background-color: #e5e5e5;
}

.dg-progress::-moz-progress-bar {
  background-color: #e5e5e5;
}

.dg-progress::-ms-fill {
  background-color: #e5e5e5;
}

.uk-input:disabled {
  background: transparent !important;
}
