html, body {
  height: 100%;
}

button:disabled {
  cursor: not-allowed;
}

.uk-button-secondary {
  position: relative;
}

.dg-progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  display: block;
  height: 2px;
  overflow: hidden;
  width: 100%;
}

.dg-progress:indeterminate {
  color: transparent
}

.dg-progress::-webkit-progress-bar {
  background-color: transparent;
  overflow: hidden;
}

.dg-progress:indeterminate::-moz-progress-bar {
  width: 0;
}

.dg-progress::-webkit-progress-value {
  background-color: #222222;
  transition: width .6s ease;
}

.dg-progress::-moz-progress-bar {
  background-color: #222222;
}

.dg-progress::-ms-fill {
  background-color: #222222;
  border: 0;
  transition: width .6s ease;
}

.dg-progress-warning::-moz-progress-bar {
  background-color: #faa05a;
}

.dg-progress-warning::-ms-fill {
  background-color: #faa05a;
}

.dg-progress-warning::-webkit-progress-value {
  background-color: #faa05a;
}

.dg-bubble:after {
  border: 34px solid transparent;
  border-bottom: 0;
  border-left: 0;
  border-top-color: #ffffff;
  bottom: 0;
	content: '';
  height: 0;
  left: 25%;
  margin-bottom: -34px;
  margin-left: -17px;
	position: absolute;
  top: 99%;
	width: 0;
}

.dg-login-background {
  background: rgb(22,82,164);
  background: linear-gradient(130deg, rgba(22,82,164,1) 0%, rgba(75,151,254,1) 100%);
}

.dg-login-background-pride {
  background: rgb(22,82,164);
  background: linear-gradient(130deg, #ff0000 16%, #ffa500 16% 33%, #ffff00 33% 50%, #008000 50% 67%, #0000ff 67% 84%, #800080 84%);
}
