button:disabled {
  cursor: not-allowed;
}

.uk-button-secondary {
  position: relative;
}

.dg-progress {
  vertical-align: baseline;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  width: 100%;
  border: 0;
  background-color: transparent;
  height: 2px;
  overflow: hidden;
}

.dg-progress:indeterminate {
  color: transparent
}

.dg-progress::-webkit-progress-bar {
  background-color: transparent;
  overflow: hidden;
}

.dg-progress:indeterminate::-moz-progress-bar {
  width: 0;
}

.dg-progress::-webkit-progress-value {
  background-color: #222222;
  transition: width .6s ease;
}

.dg-progress::-moz-progress-bar {
  background-color: #222222;
}

.dg-progress::-ms-fill {
  background-color: #222222;
  transition: width .6s ease;
  border: 0
}

.dg-progress.dg-warning::-moz-progress-bar.warning {
  background-color: #faa05a !important;
}

.dg-progress.dg-warning::-ms-fill.warning {
  background-color: #faa05a !important;
}

.dg-progress.dg-warning::-webkit-progress-value {
  background-color: #faa05a !important;
}

.dg-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
  top: 99%;
	left: 25%;
	width: 0;
	height: 0;
	border: 34px solid transparent;
	border-top-color: #ffffff;
	border-bottom: 0;
	border-left: 0;
	margin-left: -17px;
	margin-bottom: -34px;
}

.dg-login-background {
  background: rgb(22,82,164);
  background: linear-gradient(130deg, rgba(22,82,164,1) 0%, rgba(75,151,254,1) 100%);
}

.dg-login-background-pride {
  background: rgb(255,0,0);
  background: linear-gradient(130deg, rgba(255,0,0,1) 10%, rgba(255,128,0,1) 26%, rgba(210,217,49,1) 42%, rgba(0,153,28,1) 58%, rgba(0,52,255,1) 74%, rgba(145,69,252,1) 90%);
}
