.dg-bubble:after {
	border: 34px solid transparent;
	border-bottom: 0;
	border-left: 0;
	border-top-color: #ffffff;
	bottom: 0;
	content: '';
	height: 0;
	left: 25%;
	margin-bottom: -34px;
	margin-left: -17px;
	position: absolute;
  top: 99%;
	width: 0;
}
